.testme {
width: 100%;
height: 100%;
background: url("/images/grid-of-materials-a-yellow.jpg");
}

th, td {
font-size: 12px;
}

.background {
display: none !important;
}

.background {
position: absolute;
top: 0;
z-index: -10;
}

.print-fit {
width: 62%;
}


/***  TEST PRINT  ***/
.print-grid {
position: absolute;
z-index: -10;
top :0;
display: none;
}

.print-grid td {
width: 36px;
height: 36px;
}

.circle-image {
float: left;
width: 200px;
}



